body {
    font-family: sans-serif;
    text-align: center;
    background-color: lightcyan;

    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0; 
}

h1 {
    font-size: 50px;
}

.sub-title {
    font-size: 30px;
}

button {
    padding: 15px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
}

.content {
    text-align: center;
}
